@font-face {
  font-family: 'ClassicMini';
  src: url('public/fonts/DSEG7ClassicMini-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('public/fonts/RobotoSlab-Light.ttf') format('truetype');
}

body {
  margin: 0;
}
